# -----------------------------
# OS FILES
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# LOG FILES
# -----------------------------
*.log
logs/

# -----------------------------
# ENV FILES
# -----------------------------
.env
.env.*
!.env.example

# -----------------------------
# DEPENDENCIES
# -----------------------------
node_modules/
vendor/

# -----------------------------
# BUILD / OUTPUT
# -----------------------------
dist/
build/
out/
target/
*.class
*.jar
*.war

# -----------------------------
# JAVA
# -----------------------------
*.class
*.project
*.classpath
.settings/

# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
env/

# -----------------------------
# REACT / NEXT / FRONTEND
# -----------------------------
.next/
coverage/
.cache/
vite.svg

# -----------------------------
# IDE FILES
# -----------------------------

## VS CODE
.vscode/

## INTELLIJ
.idea/
*.iml

## ECLIPSE
.metadata/

# -----------------------------
# PACKAGE MANAGERS
# -----------------------------
package-lock.json
yarn.lock
pnpm-lock.yaml

# -----------------------------
# DATABASE
# -----------------------------
*.db

# -----------------------------
# TEMP FILES
# -----------------------------
*.tmp
*.temp