<footer class="footer">
    <div class="footer-container">

        <div class="footer-col">
            <h3>Information</h3>
            <ul>
                <li><a href="/pages/info/About.html">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Shipping Policy</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Customer Service</h3>
            <ul>
                <li><a href="/pages/contact/Contact-us.html">Contact Us</a></li>
                <li><a href="/pages/contact/help.html">Help</a></li>
                <li><a href="/pages/orders/track-order.html">Track Order</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3>Connect With Us</h3>
            <p>Follow us on social media</p>

            <div class="social-links">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/koli_narasimha">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

    </div>

    <div class="copyright">
        <p>© 2026 Shri Manjunatha Shamiyana Works & Events. All Rights Reserved.</p>
    </div>
</footer>